.contact-container{
    height: fit-content;
}
.Contact-heading{
    display: none;
    position: absolute;
    width: 100%;
    color: var(--color-light);
    text-align: center;
    margin-top: 7rem;
}
.contact-container-mask{
    background: var(--color-bg-mask);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center; 
    gap: 15rem;
}

.contact-engineer{
    margin-top: 12rem;
    display: flex;
    justify-content: center;
}

.contact-forms{
    margin-top: 12rem;
    width: 30rem;
}


.contact-form{
    display: flex;   
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
}

.contact-input{
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-primary);
    resize: none;
    color: var(--color-light);
}
.contact-footer{
    /* margin-top: 5rem; */
}
/* ==================MEDIA QUERIES(MEDIUM DEVICE)================ */

@media screen and (max-width: 1024px){
    .contact-engineer{
        display: none;
    }
    .Contact-heading{
        display: block;
        margin-top: 9rem;
    }
    .contact-forms{
        margin-top: 18rem;
        width: 40rem;
    }
}


/* ==================MEDIA QUERIES(SMALL DEVICE)================ */

@media screen and (max-width: 600px){
    .contact-engineer{
        display: none;
    }
    .contact-forms{
        padding: 0 2rem;
    }
    .Contact-heading{
        display: block;
        margin-top: 7rem;
    }
    .contact-forms{
        margin-top: 14rem;
        width: 40rem;
    }
    
}

