.container-home {
    height: fit-content;
    width: 100%;
  }


  .landing {
    background-image: url(../../asstes/background-construction.jpg);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .mask {
    background-color: var(--color-bg-mask);
    opacity: 80%;
    position: absolute;
    height: 100vh;
    width: 100%;
  }
  
  .home-content {
    font-size: 2.5rem;
    color: var(--color-primary);
    margin-top: 15%;
    margin-left: 4rem;
    max-width: 70%;
  }
  
  .home-btn {
    margin-left: 4rem;
    margin-top: 5%;
  }
  
  /* Design Value Css */
  .DesignValue {
    height: 100vh;
    display: block;
    align-items: center;
    justify-content: center;
  }
  
  .DesignValue-section {
    height: 50%;
    width: 100%;
    display: flex;
    padding: 2rem;
  }
  
  .DesignValue-item {
    width: 50%;
    height: 100%;
  }
  
  .left-content {
    background-color: var(--color-bg-mask);
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    color: var(--color-light);
    justify-content: center;
    font-size: 3rem;
  }
  
  .right-image {
    background-image: url(./../../asstes/designasvalue.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .left-content-bottom {
    padding: 5rem 2rem;
    font-size: 1rem;
    text-align: justify;
    color: var(--color-light);
  }
  
  .right-content-bottom {
    padding: 5rem 2rem;
    font-size: 1rem;
    text-align: justify;
    color: var(--color-light);
  }
  
  .value-btn {
    margin: 3rem 0rem;
  }


  /* ==================MEDIA QUERIES(MEDIUM DEVICE)================ */

@media screen and (max-width: 1024px){
  .landing{
    height: 50vh;
  }
  .mask{
    height: 50vh;
  }
  .home-content{
    font-size: 1.5rem;
    margin-top: 25%;
    margin-left: 4rem;
  }
  .DesignValue {
    height: 70vh;
  }
  .DesignValue-section {
    padding: 1rem;
  }
  .left-content {
    text-align: center;
  }
  .left-content p{
    font-size: 3rem;
  }
  .left-content-bottom {
    padding: 1rem;
  }
  .right-content-bottom {
    padding: 1rem;
  }
  .value-btn {
    margin: 1.2rem 0rem;
  }
}


/* ==================MEDIA QUERIES(SMALL DEVICE)================ */

@media screen and (max-width: 600px){
  .landing{
    background-image: none;
    height: 50vh;
  }
  .mask{
    max-height: 50vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
  }
  .home-content{
    font-size: 1rem;
    margin-left: 1.2rem;
  }
  .home-content {
    font-size: 1rem;
  }
  .home-btn {
    margin-left: 1.2rem;
    margin-top: 5%;
  }
  .DesignValue-section {
    padding: 1rem 0.2rem;
  }
  .left-content {
    text-align: center;
  }
  .left-content p{
    padding: 1rem;
    font-size: 2rem;
  }
  .DesignValue-section-bottom{
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .left-content-bottom {
    width: 100%;
    padding: 0rem 1rem;
  }
  .right-content-bottom {
    padding: 0rem 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

}