.blog-container{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blog-accordian-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12rem;
    color: var(--color-light);
    gap: 2rem;
    width: 90%;
}
.accordian-row{
    background-color: var(--color-bg-mask);
    height: fit-content;
    border-radius: 5px;
    width: 90%;
    padding:0 0.5rem;
    opacity: 95%;
}
.accordian-heading{
    box-shadow:0 4px 6px -6px #222;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    gap: 2rem;
    transition: .5s ease;
}
.accordian-heading h1{
    color: var(--color-light);
    margin-left: 1.5rem;
    transition: .5s ease;
}
.accordian-heading p{
    font-size: 3rem;
    font-weight: bold;
    margin-right: 2rem;
    transition: .5s ease;
}

.accordian-description p{
    text-align: justify;
    padding: 2%;
    color: var(--color-primary);
    transition: .5s ease;

}

/* ==================MEDIA QUERIES(MEDIUM DEVICE)================ */

@media screen and (max-width: 1024px){
    .blog-accordian-container{
        margin-top: 9rem;
        gap: 1.5rem;
    }
    .accordian-heading p{
        margin-right: 1rem;
    }
}


/* ==================MEDIA QUERIES(SMALL DEVICE)================ */

@media screen and (max-width: 600px){
    .blog-accordian-container{
        margin-top: 7rem;
        gap: 0.5rem;
    }
    .accordian-row{
        width: 100%;
    }
    .accordian-heading p{
        margin-right: 0rem;
    }
}